/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
	--pr-color: #fff;
	--second-color: #0a0a0a;
	--cubicbz: cubic-bezier(.9, 0, .1, 1);
	--fz-big: 60px;
	--gold-color: #CD8A3F;
	--bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #000000;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

* {
	box-sizing: border-box;
	font-family: 'Syne', sandiretoraprincipals-serif;
	font-weight: 800;
	margin: 0;
	padding: 0;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--second-color);
}

#luxy {
	position: relative;
	overflow: hidden;
}	

/* ------------------------------------------ */
.wrapp {
    overflow: hidden; /* Garante que o conteúdo se comporte com scrolling virtual */
}

.header__navegation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px); /* Para um efeito moderno */
}




.header__navegation a {
    transition: transform 0.3s ease, color 0.3s ease;
}

/* ------------------------------------------ */

/******************************************/
#about, #about_us, #benefits, #portfolio, #services{
	padding-top: 150px;
	padding-bottom: 50px;
	padding-bottom: 300px;
	padding-top: 75px;
	height: 100%;
	overflow: hidden;
}

#blog{
	padding-bottom: 50px;
	padding-bottom: 300px;
	padding-top: 165px;
	height: 100%;
	overflow: hidden;
}

.wrapp {
	width: 100%;
	height: auto;
	overflow: hidden;
	z-index: 1;
}

.content {
	width: 100%;
	padding: 0 70px;
}

.char {
	display: inline-block;
}

/* Paralax Effect On GSAP **********************************/


/* header__navegation ********/


.header__navegation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: .5s;
    
}


.header.sticky {
    background: var(--bg-color);
    box-shadow:  0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--cor-destaque);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: .2rem;
    bottom: -6px;
    background: var(--white-color);
}

.header.sticky .navbar a::before { /* Cor do Sticky(barra em baixo da letra) */
    background: var(--main-color);
    opacity: .7; 
}

.header.sticky .navbar a.active { /* Cor da letra ativa */
    color: var(--main-color);
}





/* header ********/
.main__header {
	position: relative;
	display: flex;
	padding: 0 70px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.header__marq {
	position: absolute;
	bottom: 0;
	left: 0;
}

.header__marq {
	width: 100%;
	height: auto;
	background: #171717;
	overflow: hidden;
}

.header__marq-wrapp {
	display: flex;
	width: 100%;
	height: auto;
	padding: 8px 70px;
}

.header__marq-txt {
	position: relative;
	flex: 0 0 auto;
	display: inline-block;
	padding-right: 55px;
	margin-right: 15px;
	text-transform: uppercase;
	color: var(--pr-color);
	color: #9e9e9e;
	font-size: 35px;
}

.header__marq-star {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
}

.header__marq-star img {
	display: block;
	width: 100%;
	height: 100%;
}

.title {
	position: relative;
	margin: 0;
	font-size: 85px;
	text-align: center;
	color: var(--pr-color);
	text-transform: uppercase;
	mix-blend-mode: difference;
	z-index: 2;
}

.title_paralax {
	display: inline-block;
	will-change: transform;
}

.title .stroke {
	display: inline-block;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
	font-size: 2.5rem;
	padding: 30px;
}




.header__img {
	position: absolute;
	width: 45%;
	height: 100%;
	top: 0;
	right: 100px;
	clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	overflow: hidden;
	background-position: left center;
}

.header__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-title {
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	line-height: .8;
	font-size: 70px;
	text-align: center;
	color: var(--pr-color);
	text-transform: uppercase;
}

.section-title .stroke {
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
	position: absolute;
	display: inline-block;
	width: 130px;
	height: 130px;
	border: 1px solid #4b4b4b;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

/* about ********/
.about .section-title {
	text-align: left;
}

.about__wrapp {
	display: flex;
	justify-content: space-between;
}

.about__img,
.about__txt {
	width: calc(50% - 35px);
	height: auto;
}

.about__txt {
	padding-right: 70px;
}

.about__p {
	line-height: 1.4;
	font-size: 20px;
	color: #4b4b4b;
}

.about__img {
	height: 100vh;
	overflow: hidden;
}

.about__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* benefits ********/
.benefits__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	column-gap: 32.8rem;
	width: 100%;
	height: auto;
}

.benefits__item {
	list-style: none;
	width: calc(33.33% - 27px);
	margin-bottom: 5rem;
	
}

.benefits__num {
	display: inline-block;
	font-size: 60px;
	color: transparent;
	-webkit-text-stroke: 1px var(--pr-color);
	text-align: left;
}

.benefits__p {
	font-size: 20px;
	color: #4b4b4b;
}

#benefits__id {
	text-align: center;
	margin-left: -15rem;
    margin-right: -15rem;

}

/* work ********/
.work {
	padding-top: 150px;
}

.work__wrapp {
	display: flex;
	flex-wrap: wrap;
	row-gap: 120px;
	justify-content: space-between;
	padding: 0 120px;
}

.work__item {
	position: relative;
	width: calc(50% - 60px);
	height: 100vh;
}

.work__item-num {
	position: absolute;
	display: inline-block;
	font-size: 70px;
	color: var(--pr-color);
	mix-blend-mode: difference;
	z-index: 2;
}

.work__item-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.work__item-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* description_portolio */
.description_portfolio {
	text-align: center;
	margin-top: 5px;
	background-color: var(--gold-color);
}

/* serv ********/
.serv__item {
	position: relative;
	padding: 40px 0;
	border-bottom: 1px solid #2f2e2e;
}

.serv__item-arrow {
	position: absolute;
	display: inline-block;
	width: 55px;
	height: 55px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	text-align: center;
}

.serv__item-arrow img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: rotate(180deg);
}

.serv__item-txt {
	font-size: 40px;
	color: #4b4b4b;
	text-transform: uppercase;
}

/* testimonial swiper */

.testimonial-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 10rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;

}

.testimonial-wrapper .testimonial-box {
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem; 
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img {
    width: 43rem;
    height: 21rem;
    object-fit: cover;
    border-radius: 10px 100px;
    border: 0.3rem solid var(--bg-color);
    outline: 0.5rem solid var(--main-color);
}

.testimonial-slide img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black; /* Cor do overlay */
	opacity: 0; /* Começa invisível */
	transition: opacity 0.3s ease; /* Efeito de transição suave */
}

.image-container:hover::after {
	opacity: 0.5; /* Ajuste a opacidade para o valor desejado */
}


.testimonial-slide h3 {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: 2rem 0;
	padding-top: 2rem;
}

.testimonial-slide span {
	font-family: Arial, Helvetica, sans-serif;
    font-size: .85rem;
	color: #CD8A3F;
    
}

.testimonial-slide p {
	font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    text-align: center;
	padding-top: 1rem;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--gold-color);
	border: none;
	border-radius: 28px 28px 28px 28px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.24);
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .75rem;
	margin: 4px 2px;
	margin-top: 1.3rem;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid var(--gold-color)
  }
  
  .button1:hover {
	background-color: var(--gold-color);
	color: white;
  }

.testimonial-box .swiper-button-next, 
.testimonial-box .swiper-button-prev { 
    color: var(--main-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}

/* icon whatsapp */
i.bx.bxl-whatsapp {
	font-size: 30px;
}

/* footer ********/
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding-top: 150px;
}

.footer__div {
	font-size: 70px;
	letter-spacing: 15px;
	color: var(--pr-color);
	text-transform: uppercase;
}

.footer__div span {
	display: inline-block;
}



/* BREAKPOINTS */

@media (max-width: 1440px) {
	
}